/**/
h1{
  font-size: 37px;
  font-family: Abeganshi.ttf;
  color:rgb(241, 243, 250);
  text-align: center;
  margin-top: 20px;
}
button[type = "button"]{
  font-family: myFirstFont;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-aling: center;
  border: 2px solid #3498db;
  padding: 10px 30px;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  transition: 0.25s;
}

.row button[type = "button"]:hover{
background: #3498db;
}


.row input[type ="text"]{
  font-family: myFirstFont;
  border:0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
input[type ="number"]{
  font-family: myFirstFont;
  border:0;
  background: white;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 100px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.row input[type ="text"]:focus{
  width: 220px;
  border-color: #ec4755;
}

body{
  background-color: #191919;
  background-image: url("../fonts/wcb.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: myFirstFont;
  src: url("../fonts/Abeganshi.ttf");
}